body {
    margin: 0;
    height: 500px;
}

#gameFrame {
    height: 400px;
    width: 1000px;
    margin: 5px 0;
    border-bottom: 5px solid #1c1f4c;
    font-family: 'Gamja Flower', cursive;
    position: relative;
}

h1 {
    margin-top: 15px;
    margin-left: 20px;
    color: #1c1f4c;
    font-size: 70px;
    position: absolute;
    z-index: 3;
    text-align: center;
}

h2 {
    visibility: hidden;
    margin-top: 80px;
    margin-left: 440px;
    color: #20639B;
    font-size: 80px;
    position: absolute;
    z-index: 3;
    text-align: center;
}

h3 {
    margin-left: 30px;
    margin-top: 110px;
    color: #ED553B;
    font-size: 22px;
    position: absolute;
    z-index: 3;
    text-align: center;
}

img {
    width : 10%;
    position: absolute;
    margin-left: 80px;
    margin-top: 20px;
    z-index: 2;
}

#character {
    height: 80px;
    width: 50px;
    margin-bottom: 5px;
    margin-top: 319px;
    margin-left: 100px;
    background-repeat:no-repeat;
    background-size: 100% 100%;
    position: absolute;
    -webkit-animation-name: fox;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-timing-function: linear;
}

#obstacleParent {
    font-size: 0;
    }

.obstacle {
    position: absolute;
    background-repeat: repeat;
    background-size: auto;
    border-radius: 8px;
    background-color:#00CED1;
}

#instructions {
    position: absolute;
    margin-top: 415px;
}

h4 {
    font-size: 18px;
}

h4, p {
    margin: 5px 10px;
}

#start {
    padding: 7px;
    margin-top: 170px;
    margin-left: 40px;
    background-color: #ED553B ;
    color: white;
    font-size: 20px;
    position: absolute;
}



@-webkit-keyframes fox {
  0% {
    background-image: url("ImagesAndSounds/Run_1t.png");
  }
  50% {
    background-image: url("ImagesAndSounds/Run_2t.png");
  }
  100% {
    background-image: url("ImagesAndSounds/Run_3t.png");
  }
}

